  @font-face {
    font-family: "Computer Modern";
    src: url('../fonts/cmunrm.otf');
  }


body {counter-reset : proprietes definitions theoremes exemples section;
	}

:root {
  --md-admonition-icon--exercice: url(../images/iconvert.png);
  
  --md-admonition-icon--exerciceb: url(../images/iconrose.png)
}

/* boite exo*/
.md-typeset .admonition.exercice,
.md-typeset details.exercice {
  border-color: rgb(43, 155, 70);
  page-break-inside:auto;
}
.md-typeset .exercice > .admonition-title,
.md-typeset .exercice > summary {
  padding-left:2rem;
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .exercice > .admonition-title::before,
.md-typeset .exercice > summary::before {
background: url(../images/iconvert.png);
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
-webkit-mask-image: none;
          mask-image: none;
width:1rem
}


/* boite exo TD*/
.md-typeset .admonition.exercicetd,
.md-typeset details.exercicetd {
  border-color: rgb(43, 155, 70);
  page-break-inside:auto;
}
.md-typeset .exercicetd > .admonition-title,
.md-typeset .exercicetd > summary {
  padding-left:2rem;
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .exercicetd > .admonition-title::before,
.md-typeset .exercicetd > summary::before {
background: url(../images/iconvert.png);
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
-webkit-mask-image: none;
          mask-image: none;
width:1rem
}

h2 {
counter-reset:subsection;

}

h2::before {
counter-increment:section;
content:counter(section,upper-roman) " - ";

}

h3 {
counter-reset:subsubsection;
}

h3::before {
counter-increment:subsection;
content:counter(section,upper-roman) "." counter(subsection) " - ";

}

h4::before {
counter-increment:subsubsection;
content:counter(section,upper-roman) "." counter(subsection) "." counter(subsubsection) " - ";

}






/* boite exo rose*/
.md-typeset .admonition.exerciceb,
.md-typeset details.exerciceb {
  border-color: rgb(245, 114, 243);
}
.md-typeset .exerciceb > .admonition-title,
.md-typeset .exerciceb > summary {
padding-left:2rem;
  background-color: rgba(245, 114, 243 , 0.1);
}
.md-typeset .exerciceb > .admonition-title::before,
.md-typeset .exerciceb > summary::before {
background-image: url(../images/iconrose.png);
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
-webkit-mask-image: none;
          mask-image: none;
}


/* boite exemple*/
.md-typeset .admonition.exemple,
.md-typeset details.exemple {
  border:none;
  border-left:solid 0.1rem;
  border-radius:0;
  box-shadow:none;
  page-break-inside:auto;
}

.md-typeset .exemple > :last-child,
.md-typeset .exemple > details:last-child {
margin-top:0rem
}
.md-typeset .exemple > .admonition-title,
.md-typeset .exemple > summary {
padding-left:0.1rem;
background-color:transparent;
padding-bottom:0rem;
}

.md-typeset .exemple > .admonition-title::before,
.md-typeset .exemple > summary::before {
display:none;
}

.md-typeset .exemple > .admonition-title::after{
counter-increment: exemples;
content:' ' counter(exemples)
}







/* boite preuve*/


.md-typeset .admonition.preuve,
.md-typeset details.preuve {
  border:0;
  border-radius:0;
  box-shadow:none;
  padding:0;
  page-break-inside:auto;
}
.md-typeset .preuve > .admonition-title,
.md-typeset .preuve > summary {
padding-left:1.4rem;
padding-top:0rem;
padding-bottom:0rem;
background-color:transparent;
margin:0rem;
text-transform:lowercase;
}

.md-typeset .preuve > admonition-title {

	}

.md-typeset .preuve > .admonition-title::before,
.md-typeset .preuve > summary::before {
padding-left:0rem;
padding-top:0rem;
padding-bottom:0rem;
background-color:transparent;
margin:0rem;
background: ;
content:"Une ";
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
-webkit-mask-image: none;
          mask-image: none;
padding-left:-1rem;
width:5.6rem;
top:0rem;
left:0rem;
text-transform:capitalize
}


.preuve:after {
	content:"□";
	display:block;
	text-align:right;
	font-size:15pt;
}












/* boite Théorèmes*/
.md-typeset .admonition.theoreme,
.md-typeset details.theoreme {
  border-color: rgb( 249, 92, 92 );
  page-break-inside:none;
}
.md-typeset .theoreme > .admonition-title,
.md-typeset .theoreme > summary {
  padding-left:6.5rem;
  background-color: rgba( 249, 92, 92 , 0.1);
}
.md-typeset .theoreme > .admonition-title::before,
.md-typeset .theoreme > summary::before {
background: url(../images/iconthm.png);
counter-increment : theoremes;
content:"Théorème " counter(theoremes) " : ";
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
-webkit-mask-image: none;
          mask-image: none;
padding-left:1.5rem;
width:5.8rem
}




/* boite propriete*/
.md-typeset .admonition.propriete,
.md-typeset details.propriete {
  border-color: rgb( 249, 175, 92 );
  page-break-inside:none;
}
.md-typeset .propriete > .admonition-title,
.md-typeset .propriete > summary {
  padding-left:6.5rem;
  background-color: rgba( 249, 175, 92 , 0.1);
}
.md-typeset .propriete > .admonition-title::before,
.md-typeset .propriete > summary::before {
counter-increment: proprietes;
background: url(../images/iconprop.png);
content:"Propriété " counter(proprietes) " : ";
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
-webkit-mask-image: none;
          mask-image: none;
padding-left:1.5rem;
width:5.6rem
}





/* boite défintions*/
.md-typeset .admonition.definition,
.md-typeset details.definition {
  border-color: rgb(  92, 213, 249 );
  page-break-inside:none;
}
.md-typeset .definition > .admonition-title,
.md-typeset .definition > summary {
  padding-left:6.5rem;
  background-color: rgba(  92, 213, 249  , 0.1);
}
.md-typeset .definition > .admonition-title::before,
.md-typeset .definition > summary::before {
background: url(../images/icondef.png);
counter-increment : definitions;
content:"Définition " counter(definitions) " : ";
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
-webkit-mask-image: none;
          mask-image: none;
padding-left:1.5rem;
width:5.6rem
}










.admonition.exerciceb >.admonition-foot {margin:-0.65rem -0.6rem;
	height:0.5rem;
	border-bottom-right-radius: .1rem;
	background-color:rgb(245, 114, 243 ,0.1);
	border-bottom-left-radius: .1rem;
	font-size: 5pt;
	text-align: right;
	}
	
.admonition.exercice >.admonition-foot {margin:-0.65rem -0.6rem;
	height:0.5rem;
	border-bottom-right-radius: .1rem;
	background-color:rgb(43, 155, 70 ,0.1);
	border-bottom-left-radius: .1rem;
	font-size: 5pt;
	text-align: right;
	}
	

.print-first-page {
    display: none;
}
@media print {
    .md-typeset .admonition.exercicetd,
    .md-typeset details.exercicetd {
      border-color: rgb(43, 155, 70);
      page-break-inside:auto;
    }
    .md-typeset .exercicetd > .admonition-title,
    .md-typeset .exercicetd > summary {
      padding-left:2rem;
      background-color: rgba(43, 155, 70, 0.1);
    }
    .md-typeset .exercicetd > .admonition-title::before,
    .md-typeset .exercicetd > summary::before {
    background: url(../images/iconvert.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-mask-image: none;
              mask-image: none;
    width:1rem
    }

    body {font-family:"Computer Modern";
    -webkit-print-color-adjust: exact;
    text-justify:auto};
    h1,h2,h3,h4 {font-family:sans-serif};
    .md-typeset .admonition.preuve {display:none};
    .md-typeset .admonition.exemple .tabbed-block:nth-child(2) {display:none !important};
    .md-typeset .admonition.exemple .tabbed-labels{display:none}
    .md-typeset .admonition.exercice .tabbed-block:nth-child(2) {display:none !important};
    .md-typeset .admonition.exercice .tabbed-labels{display:none};
    .md-typeset .admonition.exemple .tabbed-block {margin-bottom:-1em};
    .md-typeset .admonition.exemple {margin-bottom:-1em};
    div.arithmatex {margin-top:-3em;margin-bottom:-2em!important};
    .tabbed-block {  margin-top: -1em;
      margin-bottom: -1em;
    }
}


@page {
 	size: 210mm 297mm; 
  /* Chrome sets own margins, we change these printer settings */
  	margin: 10mm 10mm 10mm 10mm; 
	}
